@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.titulo{
    padding: 20% 38%;
    text-align: center;
   align-self: center;
   h1{
    width: 18.75rem;
    height: 18.75rem;
    opacity: 65%;
    padding: 10% 3.125rem 67%;
    font-size: 3.125rem;
    background-color:#FF8F8F ;
    font-family: "Playfair Display", serif;
   }
    
   
   }

.button{
    padding: 10px 10px;
    text-align: center;
    align-self: center;
    }